<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Your Simple Homepage</title>
        <link rel="stylesheet" href="/homestyle.css" />

        <style></style>
    </head>
    <body>
        <header>
            <h1 style="text-align: center">Ekart</h1>
        </header>

        <main>
            <h2>Welcome to Homepage!</h2>
            <p>
                This is a basic example of a homepage. You can customize it as
                per your needs.
            </p>
        </main>

        <button class="logout"><a href="/logout">Logout</a></button>

        <footer>&copy; 2023 Ekart &nbsp; All rights reserved.</footer>
    </body>
</html>
